html{
    overflow-X: hidden;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background: transparent !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background: none !important;
}

ul.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-horizontal {
    float: right;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a{
    font-size: 16px;
    font-weight: bold;
}

.ant-form-item{
    margin-bottom: 10px;
}

.overlayHeader{
    height: 100vh;
    width: 100vw;
    background: #00000085;
    z-index: 999;
    position: absolute;
}

.boldFont{
    font-weight: bold;
}

.formTitle{
    color: #505050;
}

.gutterRow {
    min-height: 400px !important;
}

.cardAccommodationInfo p{
    margin: 3px 0px;
    line-height: 18px;
}

.cardAccommodationType{
    font-size: 12px;
    color: #505050;
    font-weight: 800;
}

.cardAccommodationTitle{
    font-size: 16px;
    font-weight: 800;
}

.cardAccommodationPrice{
    font-size: 14px;
    font-weight: 400;
}

.slick-slide {
    text-align: center;
    min-height: 70vh;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.slick-track {
    height: 100vh;
}
  
.ant-carousel .slick-slide h3 {
    color: #fff;
}

.ant-layout-header{
    padding: 0px !important;
    height: 100vh !important;
}

.navigationContainer{
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
}

.formContainer{
    z-index: 999;
    position: absolute !important;
    top: 100px;
    left: 100px;
    background: #FFF;
    padding: 20px !important;
    border-radius: 3px;
}

.fixedMenu{
    position: fixed;
    top: 0;
    background: #439eb5;
    z-index: 999;
    width: 100%;
    transition: background-color 0.2s ease;
}

@media screen and (max-width: 960px) {
    .ant-layout-content{
        padding: 0px !important;
    }

    .formContainer{
        left: 0px !important;
    }
}